.card {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 5fr 4fr;
    gap: 10px;
    height: 76px;
    align-items: center;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 5px;
    padding: 10px 20px;
}

.avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.login {
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.link {
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}


.description {
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
}

.language {
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}